/*
覆盖
 */
html.dark{
    --el-border-color: #717782;
    --th-header:#484747;
    --th-main:black;
    --th-footer:#0d595d;
    --el-border-color-hover:white;
    --bor-dark:0 0.5rem 1rem rgba(255, 0, 0, 1), inset 0 -1px 0 rgba(255, 255, 255, 0.4);
}