*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
覆盖
 */
:root{
    --el-border-color:#fb929e;
    --el-color-primary: #FF4949FF;
    --el-border-color-hover:#FF4949FF;
    --th-header:#ffdfdf ;
    --th-main: white;;
    --th-footer:#6dd7da;
    --bor-dark: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

